body {
    background-image: url(img/paper.png);
}
.title {
    padding: 20px;
    border-color: white;
    color: white;
}
.bg {
    
    height: 900px;
    width: 2000px;
    text-align: center;
    color:DodgerBlue;
}